@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.container {
  @include error-state;
  max-width: 100%;

  @include responsive-md {
    padding: $spacing-md * 0.75;
    margin: $spacing-md * 0.75 0;
  }
}
