@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.container {
  min-height: $spacing-xxl * 4.17;
  width: 100%;
  padding: $spacing-lg;

  @include responsive-md {
    min-height: $spacing-xxl * 3.125;
    padding: $spacing-md;
  }
}

.spinner {
  margin-bottom: $spacing-sm;
}
